/.DS_Store
/.idea
/sf/.web-server-pid
/sf/app/config/parameters.yml
/sf/build/
/sf/phpunit.xml
/sf/var/*
!/sf/var/cache
/sf/var/cache/*
!/sf/var/cache/.gitkeep
!/sf/var/logs
/sf/var/logs/*
!/sf/var/logs/.gitkeep
!/sf/var/sessions
/sf/var/sessions/*
!/sf/var/sessions/.gitkeep
!/sf/var/SymfonyRequirements.php
/sf/vendor/
/sf/web/bundles/
!/wp-content/uploads/courses
/wp-content/uploads/courses/*
/wp-content/debug.log
wp-config.php