<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- 200 MB in kilobytes -->
    <httpRuntime maxRequestLength="204800" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- 200 MB in bytes -->
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
			<rule name="WordPress: http://digitalskill.vn" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>