/*****************************************************************************************************/
/*****************************************************************************************************/
/********************************************* Common ***********************************************/
.no-padding {
    padding: 0 !important;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.section-setting {
    background: #fff;
    margin-top: 2%;
    padding-left: 3%;
    padding-bottom: 2%;
    border-radius: 10px;
    font-size: 14px;
    color: #464646;
}

.section-setting .title {
    color: #333;
}

.section-setting .fas {
    color: #68bf32;
}

#courses-index {
    background: #F4F3F2;
    padding-bottom: 5%;
    padding-top: 2%;
}

#courses-list {
    display: block;
    max-width: 1110px;
    padding: 0;
    margin: 0 auto;
}

.elearning-wrapper {
    position: relative;
}

.elearning-wrapper .title {
    padding: 25px 15px 0;
    position: relative;
}

.elearning-wrapper .title,
.elearning-wrapper h1 {
    font-size: 24px;
    color: #fff;
    text-transform: capitalize;
    padding: 30px 0;
    max-width: 100%;
    word-wrap: break-word;
}

.elearning-wrapper .sub-title {
    font-size: 14px;
    color: #333;
    text-transform: none;
    max-width: 100%;
    word-wrap: break-word;
}

.elearning-wrapper h3 {
    font-size: 18px;
    color: #5c5146;
}

.elearning-wrapper .description {
    color: #8e8071;
}

.grid .actions a:hover,
.grid .actions a:active,
.elearning-wrapper a:hover,
.elearning-wrapper a:active,
.elearning-wrapper a:focus {
    text-decoration: none;
}

.elearning-wrapper a {
    text-decoration: underline;
    color: #ff3333;
}

.elearning-wrapper a.primary {
    color: #333;
}

.elearning-wrapper .actions-toolbar {
    margin-bottom: 10px;
}

.elearning-wrapper .actions-toolbar form {
    display: inline-block;
}

#courses-list .actions {
    background: #cdcece;
    padding: 20px 15px;
}

.elearning-wrapper .action {
    text-transform: capitalize;
}

.elearning-wrapper .actions .count {
    color: #e86741;
}

.elearning-wrapper table {
    background: #fff;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    border-spacing: 0;
    margin: 0;
    clear: both;
    width: 100%;
}

.elearning-wrapper th,
.elearning-wrapper td {
    padding: 8px 10px;
    font-size: 14px;
    color: #23282d;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
    border: none;
}

.elearning-wrapper td.name {
    font-weight: 600;
}

.elearning-wrapper tbody > tr:nth-child(2n+1) {
    background: #f3eded;
}

.elearning-wrapper thead th {
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}

.elearning-wrapper .button {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    height: 28px;
    margin: 15px 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: capitalize;
}

.elearning-wrapper .button:active,
.elearning-wrapper .button:hover {
    opacity: 0.8;
}

.elearning-wrapper .button.button-primary {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 2px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    margin: 15px 13px 3px 0;
    padding: 12px 15px;
    height: auto;
    line-height: 1.4285714;
    white-space: normal;
}

.elearning-wrapper form div > label,
.elearning-wrapper form div > input:not([type="checkbox"]) {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 14px;
    vertical-align: top;
}

.elearning-wrapper form div > label {
    width: 20%;
}

.elearning-wrapper form div div div > label {
    width: auto;
    display: inline;
    vertical-align: middle;
}

.elearning-wrapper #appbundle_course_roles {
    display: inline-block;
}

.elearning-wrapper form input:not([type="submit"]) {
    width: 75%;
    background: #fff;
    color: #333 !important;
    height: 40px;
    padding: 0 0 0 10px;
    border: none;
    font-size: 14px;
}

.elearning-wrapper form #appbundle_course_roles_1 {
    margin-left: 0;
}

.elearning-wrapper form input[type="checkbox"] {
    width: auto;
    margin: 0 10px 0 20px;
    display: inline;
}

.elearning-wrapper form input[type="file"] {
    background: none;
    color: #fff !important;
    width: auto;
    font-size: 14px;
    margin-top: 10px;
}

.elearning-wrapper form textarea {
    height: 100px !important;
}

.elearning-wrapper form select,
.elearning-wrapper form textarea {
    width: 75%;
    background: #fff;
    color: #333 !important;
    padding: 15px 0 0 10px;
    height: auto;
    margin-bottom: 10px;
    font-size: 14px;
}

.elearning-wrapper #cke_appbundle_asset_description,
.elearning-wrapper #cke_appbundle_course_description {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    margin-bottom: 10px;
}

.elearning-wrapper form .preview {
    display: inline-block;
    margin-left: 20%;
    width: auto;
}

/********************************************* Courses List *******************************************/
#courses-list {
    position: relative;
}

.course-show .title h1,
#courses-list .title h1 {
    color: #1f4475;
    display: inline;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.course-show .title .fa:before,
#courses-list .title .fa:before {
    color: #1f4475;
}

.course-show .title .sub-title,
#courses-list .title .sub-title {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 58px;
}

.grid .item {
    -webkit-transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -ms-transition: opacity .75s ease-in-out;
    -o-transition: opacity .75s ease-in-out;
    transition: opacity .75s ease-in-out;
}

.grid .item:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.grid .item .base-image img {
    display: inline-block;
    width: 100%;
    max-height: 200px;
}

.grid .details {
    background: #f9fdfe;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    padding: 25px 15px;
    width: 100%;
}

.grid .details figure {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.grid .details img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    padding: 8px;
}

.grid .details .description {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.grid .details .description p {
    height: 100px;
}

.grid .description h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.grid .description p {
    font-size: 13px;
    color: #8e8071;
    font-style: italic;
    margin-top: 8px;
}

.grid .item .fa-heart:before {
    color: #e86741;
}

.grid .item .actions .count {
    color: #333333;
    padding-left: 6px;
}

.grid .actions a {
    color: #ff3333;
    font-weight: 600;
    float: right;
    text-decoration: underline;
}

/********************************************* Course Show *******************************************/

.course-show {
    /*background: #1e597e;*/
}

.course-show .section-title {
    margin-bottom: 2%;
}

.course-show .section-title i {
    margin-top: 10px;
}

.course-show .section-setting .title {
    color: #333;
    font-weight: 600;
    padding-bottom: 0;
    text-transform: none;
}

.course-show .section_author,
.course-show .section_benefit {
    margin-top: 0;
}

.course-show .section_author {
    padding-left: 0;
    padding-top: 20px;
}

.course-show .section_author .fa-heart {
    color: #e86741;
    margin-top: 10px;
}

.course-show .section_author img {
    max-width: 100%;
}

.course-show .section_author .count {
    margin-left: 5px;
}

.course-show .content_lecture h4 {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin-bottom: 0;
}

.course-show .content_lecture .child {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
    font-size: 16px;
}

.course-show .content_lecture .child .fas {
    margin-top: -8px;
}

.learn-course .section_description {
    margin-top: 0;
}
/********************************************* Start Learning *******************************************/
.course-show .content_lecture .child a {
    text-decoration: none;
    color: #333;
}

.learn-course .content_lecture .child:hover {
    -webkit-box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
}

.learn-course .section_author > span {
    display: inline-block;
    width: 100%;
    padding: 15px;
    text-align: left;
    cursor: pointer;
}

.learn-course .section_author > span:hover,
.learn-course .section_author > span.active {
    -webkit-box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    border-left: 5px solid green;
}

/********************************************* Asset Details *******************************************/
.lecture-details.course-show {
    background: none;
}

.lecture-details #videoplayer {
    width: 100%;
    height: auto;
    max-height: 450px;
}

.lecture-details .lecture-player {
    background-color: #2C2F37;
    position: relative;
    height: 100%;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    position: relative;
    display: block;
}

.lecture-container-header li {
    width: 33%;
    text-align: center;
    color: #464646;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    border-right: 1px solid #b6b6b6;
    border-bottom: 3px solid #797979;
}

.lecture-container-header li:last-child {
    border-right: none;
}

.lecture-container-header .active,
.lecture-container-header li:hover {
    border-bottom: 5px solid #FF8300;
}

.lecture-container-header li a {
    padding: 0;
    line-height: 40px;
    color: #464646;
    border: none !important;
    text-decoration: none;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.nav-tabs > li.active i,
.nav-tabs > li.active > a {
    color: #FF8300;
    font-weight: 600;
}

.lecture-container-header i {
    color: #727272;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.lecture-container-header {
    height: auto;
    display: inline-block;
    width: 100%;
    background-color: #fff;
}
.tab-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    overflow-y: scroll;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.fade.in {
    opacity: 1;
}

.lecture-details .actions-toolbar {
    display: inline-block;
    width: 100%;
}

.lecture-details .list-lecture-container {
    height: auto;
    overflow-y: scroll;
    width: 100%;
    max-height: 405px;
}

.list-lecture-container .chap-title {
    background-color: #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    line-height: 30px;
    margin: 0;
    padding: 15px;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    width: 100%;
}

.chap-item.current.learned .item-container .chap-item-status i,
.chap-item.learned .item-container .chap-item-status i {
    color: #ddd;
}

.chap-item.current .item-container .chap-item-status i {
    color: #FF0000;
}

.list-lecture-container .chap-item.learned {
    background: #f0f0f0;
}

.list-lecture-container .chap-item.current.learned {
    background: #fff;
}

.list-lecture-container .chap-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    float: left;
    padding: 15px;
    width: 100%;
}
.chap-item a {
    text-decoration: none;
    outline: none;
}
.chap-item .item-container .chap-item-status i {
    margin-top: 8px;
    color: green;
}
.chap-item .item-container .chap-item-content {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #868686;
    font-size: 14px;
    font-weight: 300;
}
.chap-item .item-container .chap-item-content:hover {
    -webkit-box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
}